Dataset.zip
README.txt
X_test.txt
X_train.txt
activity_labels.txt
body_acc_x_test.txt
body_acc_x_train.txt
body_acc_y_test.txt
body_acc_y_train.txt
body_acc_z_test.txt
body_acc_z_train.txt
body_gyro_x_test.txt
body_gyro_x_train.txt
body_gyro_y_test.txt
body_gyro_y_train.txt
body_gyro_z_test.txt
body_gyro_z_train.txt
features.txt
features_info.txt
subject_test.txt
subject_train.txt
total_acc_x_test.txt
total_acc_x_train.txt
total_acc_y_test.txt
total_acc_y_train.txt
total_acc_z_test.txt
total_acc_z_train.txt
y_test.txt
y_train.txt
